p {
    color: #111;
}

a {
    color: inherit;
}

#footer {
    text-align: right;
    font-size: 10px;
    color: grey;
    position:relative;
    bottom: -50px;
}

#header {
    margin-top: 5%;
}

#content {
    margin-top: 7%;
}

.inverted {
    filter: invert(100%);
}

/* Make it so columns inside the nine columns div have width relative to it */
#main-links {
    position: relative;
}

/* Put the headings a bit to the left of the links */
#main-links h4 {
    margin-left: -2%;
}